/* remixicon  */
@font-face {
  font-family: 'remixicon';
  src: url('../fonts/remixicon/remixicon.woff2?v=4') format('woff2');
  font-display: swap;
}

/* source-sans-pro-regular - latin_cyrillic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/source-sans-3/source-sans-3-v18-cyrillic_latin_latin-ext-regular.woff2') format('woff2');
}

/* source-sans-pro-italic - latin_cyrillic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/source-sans-3/source-sans-3-v18-cyrillic_latin_latin-ext-italic.woff2') format('woff2');
}

/* source-sans-pro-600 - latin_cyrillic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/source-sans-3/source-sans-3-v18-cyrillic_latin_latin-ext-600.woff2') format('woff2');
}

/* source-sans-pro-600italic - latin_cyrillic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/source-sans-3/source-sans-3-v18-cyrillic_latin_latin-ext-600italic.woff2') format('woff2');
}

/* source-sans-pro-700 - latin_cyrillic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/source-sans-3/source-sans-3-v18-cyrillic_latin_latin-ext-700.woff2') format('woff2');
}

/* source-sans-pro-700italic - latin_cyrillic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/source-sans-3/source-sans-3-v18-cyrillic_latin_latin-ext-700italic.woff2') format('woff2');
}

/* ubuntu-mono-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ubuntu-mono/ubuntu-mono-v17-cyrillic_latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ubuntu-mono-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ubuntu-mono/ubuntu-mono-v17-cyrillic_latin_latin-ext-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
